<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Casos por provincia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="data && !isLoanding && !errorModel.isError">

    <ion-searchbar showcancelbutton="" placeholder="Buscar provincia.."
    (ionInput)="onInput($event)"
    ></ion-searchbar>

    <ion-row>
      <ion-col size="8">
        <ion-item>
          <ion-label>Ordenar por</ion-label>
          <ion-select [(ngModel)]="ordenacion" (ngModelChange)="onChange($event)">
            <ion-select-option [value]="item" *ngFor="let item of ordnaciones">{{item}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="4">
        <ion-item>
          <ion-select [(ngModel)]="tipoOrdenacion" (ngModelChange)="onChange($event)">
            <ion-select-option [value]="item" *ngFor="let item of tiposOrdenacion">{{item}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-card color="dark" *ngFor="let provincia of provincias">
      <ion-card-header class="covid-header">{{provincia.nombre}}</ion-card-header>
      <ion-card-content>
        <ion-row>
          <ion-col size="6">
            <label style="color: #5260ff;font-weight: 700;">Confirmados</label>
            <h4>{{provincia.confirmados | number}}</h4>
          </ion-col>
          <ion-col size="6">
            <label style="color: #2dd36f;font-weight: 700;">Recuperados</label>
            <h4>{{provincia.recuperados | number}}</h4>
          </ion-col>
          <ion-col size="6">
            <label style="color: #eb445a;font-weight: 700;">Defunciones</label>
            <h4>{{provincia.fallecidos | number}}</h4>
          </ion-col>
          <ion-col size="6">
            <label style="color: #ffc409;font-weight: 700;">Activos</label>
            <h4>{{casosActivos(provincia.confirmados,provincia.recuperados,provincia.fallecidos) | number}}</h4>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
    <ion-card color="light">
      <ion-card-header class="covid-header">Última actualización</ion-card-header>
      <ion-card-content>{{data.ultimaActualizacion}}</ion-card-content>
    </ion-card>
  </div>

  <app-loanding *ngIf="isLoanding && !errorModel.isError"></app-loanding>

  <ion-row  class="ion-text-center ion-margin-top" *ngIf="errorModel.isError">
    <ion-col size="12">
      <label>Ocurrió  un error</label>
    </ion-col>
    <ion-col size="12">  
      <ion-button expand="block" color="danger" (click)="reintentar()">Reintentar</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
